* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  margin-bottom: 50px;
  padding: 10px;
  height: 100vh;
  background-size: cover;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: white;
  margin: 30px;
}

@media (max-width: 576px) {
  .responsive-container {
    width: 95%;
  }
}

.app-body {
  display: flex;
  flex-grow: 1;
}
